!!! 5
%html(lang="en")
  %head
    %meta{:"charset" => "utf-8"}
    = csrf_meta_tag

    = stylesheet_link_tag :all, :cache => true

    %title Constellation
  %body
    = yield
    = include_javascript
